@tailwind base;
@tailwind components;
@tailwind utilities;
/* primary_color_1:"#2C3E50",
      primary_color_2:"#3498DB",
      secondary_color_1:"#FFFFFF",
      secondary_color_2:"#BDC3C7",
      accent_color_1:"#2ECC71",
      accent_color_2:"#E74C3C",
      background:"#2C3E50" */